<div class="container mt-3 mb-5">
  <div class="card col-md-6 offset-3">
    <div class="card-header text-center">Authentification</div>
    <div class="card-body">
      <div class="mb-3 text-danger" *ngIf="errorMessage">{{errorMessage}}</div>
      <form [formGroup]="searchFormGroup" (ngSubmit)="handleLogin()" class="form-group">
        <div class="input-group mb-4">
          <span class="input-group-text fa fa-user" ></span>
          <input type="text" class="form-control" placeholder="Nom d'utilisateur" formControlName = "username" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-4">
          <span class="input-group-text fa fa-lock" ></span>
          <input type="password" class="form-control" placeholder="Mot de passe" formControlName = "password" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <button type="submit" class="btn btn-outline-secondary">Connexion</button>

      </form>
    </div>
  </div>
</div>
