
<div class="title-image mt-3">
  <h1 class="mt-5 text-center">Nos Paternaires</h1>
</div>

<div class="container col-8 offset-2 text-center mt-5 mb-5" style="font-family: 'Arial'">
  <h1 class=" text-center mb-4">Partenaires de l’Association et donateurs</h1>

  <p class="mt-5">L’association Dar Al Amane est un partenaire du ministère de la solidarité, de l’insertion
    sociale et de la famille depuis 2018 dans le cadre du programme national de l’éducation inclusive au profit des enfants en situation d’handicap du fonds d’appui à la protection sociale
    et à la cohésion sociale.</p>
  <img   src="assets/images/ministere-famille.png" class="mt-3" width="400" alt="...">
</div>


