


<section class="suivi-medical">
  <div class="title-image">
    <h1 class="text-center">Suivi paramédical</h1>
  </div>
  <div class="container mt-5 mb-5">
    <div class="description-suivi text-center mb-5">
      <h2 class="col-6 offset-3">Description</h2>
      <img src="assets/images/suivi-param-schema.png" height="400" alt="">
    </div>
    <hr>

    <div class="row mb-5">
      <div class="col-6">
        <img src="assets/images/beneficiairesBG2.jpg" height="400" alt="">
      </div>
      <div class="col-6">
        <h2>Rééducation psychomotrice</h2>
        <p>La rééducation psychomotrice aide l’enfant à retrouver son équilibre durant les différentes
          étapes de sa croissance. Elle est perçue comme un traitement psychique et corporel car
          s’intéresse au comportement moteur lié à la vie psychique, affective et relationnelle des
          enfants et participe aussi au développement de la mémoire, de l’espace, du temps et du corps.
          De ce fait la rééducation psychomotrice aide au développement des compétences motrices, à
          l’autonomie et au développement des compétences sociales ainsi qu’à la confiance et à la
          gestion des émotions par le biais des jeux, du corps, de l’amusement, de la relaxation, de la
          musique et aussi par la danse drôle et amusante. L’équipe de la rééducation psychomotrice
          participe aussi à la préparation des programmes éducatifs individuels au sein du groupe de
          l’éducation spéciale.</p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-6 mt-3">
        <h2>Rééducation et kinésithérapie</h2>
        <p>La rééducation et la kinésithérapie ont pour but d’aider l’enfant à améliorer la motricité et de
          prévenir les déformations osseuses afin d’apprendre les meilleurs gestes pour
          l’accomplissement de ses mouvements et aussi pour assurer son équilibre corporel, l’objectif
          étant d’atteindre une meilleure autonomie dans la vie de chaque jour. Les familles sont aussi
          invitées à participer à cet effort par l’apprentissage des gestes de base à prodiguer à leurs
          propres enfants et aussi par les propositions qu’elles jugent bénéfiques aux enfants. Elles sont
          aussi invitées à participer à la préparation des programmes éducatifs individuels au sein de
          l’équipe chargée de cette mission.
        </p>
      </div>
      <div class="col-6">
        <img src="assets/images/nos_services.jpg" height="400" alt="">
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-6">
        <img src="assets/images/ergo.jpg" height="400" alt="">
      </div>
      <div class="col-6 mt-3">
        <h2>Ergothérapie</h2>
        <p>L’ergothérapie constitue le moyen de passage de la situation de dépendance et de
          disfonctionnement à la situation d’autonomie et de fonctionnement. Le traitement
          ergothérapique s’intéresse à un ensemble d’actions que l’enfant, à différents niveaux d’âge, se
          doit d’accomplir, pour leur importance en ce qui concerne l’amélioration des capacités d’agir
          et des compétences de la personne, de son sentiment d’appartenance et de son bien-être. De ce
          fait, l’ergothérapie est le traitement de rééducation et de réadaptation permettant aux enfants
          en situation d’handicap à préserver leur autonomie dans la réalisation des gestes de chaque
          jour.
        </p>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-6 mt-3">
        <h2>Orthophonie</h2>
        <p>L’orthophonie consiste d’abord à la découverte précoce des troubles du langage et ensuite à
          leur évaluation à la faveur d’examens et de tests appropriés afin de poser le diagnostic exact et
          de prescrire, par la suite, le traitement et la prise en charge convenables à travers des séances
          de traitement selon un programme adapté à chaque situation. L’objectif étant d’améliorer les
          facultés du langage et de communication de l’enfant souffrant de cette pathologie.
        </p>
      </div>
      <div class="col-6">
        <img src="assets/images/ed_specifique_page.jpg" height="400" alt="">
      </div>
    </div>


  </div>
</section>

