.title-image {
  background: url("/assets/images/suivi-param.jpg") center no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
  width: 100%;

  /*border-top: 2px solid black;
  border-bottom: 2px solid black;*/
  height: 400px;

}

.title-image h1 {
  font-weight: bold;
  font-size: 5rem;
  color: white;
  padding-top: 7%;
  font-family: 'Righteous';
}

.suivi-medical h2 {

  font-size: 2.5rem;
  font-family: "Ink Free";
  font-weight: bold;


  color: black;

}

.suivi-medical p {

  font-size: 1.2em;
  font-family: "Roboto Condensed";
  text-align: justify;


}

.description-suivi h2 {

  font-size: 3.5rem;
  border: 2px double violet;

}
