<div class="container">
  <h1 class="text-center">Page Administrateur</h1>
  <div class="row">
    <div class="col offset-3" routerLink="/admin/user-list"><button>afficher utilisateurs</button></div>
    <div class="col"><button>afficher informations dons</button></div>
    <div class="col"><button>afficher services</button></div>
  </div>

  <div class="row mb-3 mt-5">
    <button class="col-3 offset-2 mx-2" (click)="addUser()">Ajouter utilisateur</button>
    <button class="col-3  mx-2">Ajouter événement</button>
    <button class="col-3  mx-2">Ajouter information centre</button>
  </div>
</div>
 <div class="container">
   <router-outlet></router-outlet>
 </div>







