<section class="footer-page  py-5">
  <div class="container">
    <div class="row mt-2">
      <div class="col-md-4 centre-section">
        <h4>LE CENTRE</h4>
        <p class="col-7 mt-3">
          Fondé le 1er Septembre 2017. Il aide les personnes en situation de handicap en leur permettant
          d'atteindre une autonomie et de s'intégrer dans la société.
        </p>
      </div>

      <div class="col-md-4 info-section ">
        <h4 class="redressed">INFORMATIONS UTILES</h4>
        <div class="col-9 ">
          <p><i class="	fa fa-phone"></i>  Téléphone : 0662750197</p>
          <hr>
          <p><i class="fa fa-envelope"></i>  Email : daralamane.association@gmail.com </p>
          <hr>
          <p><i class="fa fa-map-marker"></i>  Adresse : Villa N°15, Lotissement Rayhane, Khénifra </p>
        </div>


      </div>

      <div class="col-md-4 ">
        <h4 class="redressed">LIENS UTILES</h4>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link  active" aria-current="page" routerLink="/">Accueil</a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link " routerLink="/dons">Faire un don</a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link " routerLink="/services">Nos services</a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link " routerLink="/contact">Contactez-nous</a>
          </li>

          <hr>
          <li class="nav-item">
            <a class="nav-link " routerLink="/inscription">Demande d'inscription</a>
          </li>
        </ul>
      </div>





    </div>
  </div>
</section>

<footer class="text-center py-3">
  <div class="social row">
    <div class="d-flex flex-row justify-content-center col-6">
      <a href="">
        <i class="fa fa-facebook m-2 "></i>
      </a>
      <a href="">
        <i class="fa fa-twitter m-2"></i>
      </a>
      <a href="">
        <i class="fa fa-instagram m-2"></i>
      </a>
      <a href="">
        <i class="fa fa-youtube m-2"></i>
      </a>




    </div>
    <div class="col-6">
      <p style="font-family: 'Ink Free'; font-weight: bold">Copyright&copy;2023 DAR AL AMANE  </p>
    </div>
  </div>

</footer>
