<div class="title-image mt-3">
  <h1 class=" text-center">Équipe polyvalente</h1>
</div>

<div class="container mt-5 mb-5" style="font-family: 'Arial'">

  <div class="equipe-poly col-8 offset-2 text-center">
  <h2 class="">Travail de l'équipe polyvalente</h2>

  <p class="mb-5 mt-5">Le travail de l’équipe polyvalente consiste à assurer :
    La coordination avec les parents à travers le cahier de communication et l’organisation de
    réunions avec eux de concert avec la direction du centre et la présidente du service de suivi et
    de développement.
    Il est à signaler que le travail avec des enfants ne s’improvise pas mais doit être préparé avec
    précision et soin et consiste en effet à assurer :
  </p>

    <ul class="d-flex flex-column col-7 offset-2 px-4 py-4">
      <li >Le diagnostic, le suivi et les soins à prodiguer à chaque enfant.</li>
      <li>L’évaluation du diagnostic de chaque enfant.</li>
      <li>L’évaluation de chaque enfant par le biais d’un rapport complet de son état et portant la
        signature du spécialiste en charge.</li>
      <li>Le remplissage de la fiche individuelle de suivi de l’enfant comportant le plan de travail du
        spécialiste à accomplir en faveur de l’enfant.</li>
      <li>Évaluation du premier semestre en remplissant le document d’évaluation de l’équipe
        polyvalente.</li>
      <li>Évaluation du second semestre en remplissant le document d’évaluation de l’équipe
        polyvalente.</li>
      <li>Rédaction du rapport final de l’équipe polyvalente.</li>

    </ul>
  </div>
</div>

