
<div class="title-image mt-3">
  <h1 class="text-center">Nos Objectifs</h1>
</div>

<div class="container mt-5 mb-5" style="font-family: 'Arial'">

  <div class="objectifs-list col-8 offset-2 text-center">
    <h2 class="mb-4">Quelques objectifs du centre
    </h2>
    <p>
      Le centre n’a aucun intérêt ou activité dans les champs de la politique, la religion ou les sectes
      et propose ses services à tous les habitants de la région.
      Ses objectifs sont, entre autres :

    </p>
    <ul class="d-flex flex-column col-7 offset-2 px-4 py-4">
      <li >Offrir les services du diagnostic, du suivi, du traitement et de l’évaluation des enfants aux
        besoins spécifiques tant éducatifs, psychiques, sociaux, médicaux ou paramédicaux.</li>
      <li>Changer la vision de la société vis-à-vis des personnes en situation d’handicap</li>
      <li>Offrir des services d’entraînement touchant aussi bien l’autonomie, l’indépendance ou
        l’insertion sociale que le langage, la perception, les compétences académiques simples et la
        qualification professionnelle aux personnes en situation d’handicap simple, moyen ou fort,
        admises au centre.</li>
      <li>Sensibiliser et communiquer avec les bénéficiaires ainsi qu’avec leurs familles.</li>
      <li>S’ouvrir, communiquer et coordonner des actions avec les différents acteurs sur les plans
        local et national en vue d’encourager à l’éducation des personnes en situation d’handicap.</li>
      <li>Créer des opportunités d’emploi pour les habitants de la région.</li>

    </ul>
  </div>











</div>


