<div class="title-image">
  <h1 class=" text-center">Bénéficiaires des services du centre</h1>
</div>

<div class="container mt-5 mb-5" style="font-family: 'Arial'">

  <div class="benificiaires col-8 offset-2 text-center">
  <h2 class="text-center">Bénéficiaires</h2>

  <p class="mb-5 mt-5">Les personnes handicapées en situation de précarité inscrites dans des établissements
    spécialisées ou au sein de classes d’intégration scolaire ou encore inscrites normalement dans
    des établissements ordinaires de l’enseignement publique.
  </p>

  <h2 class="mt-3 mx-2">Types de handicaps</h2>
  <img src="assets/images/type-handicap-schema.png" alt="" height="250" class="mt-3">
  </div>
</div>



