<header>
  <div class="d-flex flex-row  justify-content-end  py-2">
    <a  class="mx-1 clickable" ><img src="assets/images/morocco.png" height = "20" alt=""></a>
    <a  class="mx-1 clickable"><img src="assets/images/france.png" height = "20" alt=""></a>
    <a  class="mx-1 clickable"><img src="assets/images/united-kingdom.png" height = "20" alt=""></a>
    <a  class="mx-1 clickable"><img src="assets/images/spain.png" height = "20" alt=""></a>
  </div>
<app-menu></app-menu>
</header>


<router-outlet></router-outlet>

<footer>
  <app-footer></app-footer>
</footer>
