.d-flex{
  /*background-color: #03254c;*/
  border-bottom: 2px solid lightgray;

}
header{

}
.clickable{
  cursor: pointer;
}

.inscription-files{
  text-decoration: none;
  border: 1px solid blue;
  padding: 5px;
  border-radius: 5px;
}

.inscription-files:hover{
background-color: blue;
  color: white;
  transition: 0.3s;
}
