<nav class="navbar navbar-expand-lg navbar-light">
  <a routerLink="/accueil" class="navbar-brand mx-2 mb-2" ><img src="assets/images/logo_association.png" height="80" alt=""></a>
  <button class="navbar-toggler" type="button" data-bs-toggle = "collapse" data-bs-target = "#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle Navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"></div>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav" style="margin-right: auto;">
      <li class="nav-item" [ngClass]="currentPage === '/accueil'? 'active' : '' " >
        <a routerLink="/accueil" class="nav-link">Accueil</a>
      </li>

      <li class="nav-item dropdown" [ngClass]="currentPage === '/apropos'? 'active' : '' " >
        <a  class="nav-link" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">À propos</a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
          <li><a class="dropdown-item" routerLink="/presentation">Qui sommes-nous ?</a></li>
          <li><a class="dropdown-item" routerLink="/objectifs">Nos objectifs</a></li>
          <li><a class="dropdown-item" routerLink="/histoire">Notre histoire</a></li>
          <li><a class="dropdown-item" routerLink="/partenaires">Nos partenaires</a></li>
          <li><a class="dropdown-item" routerLink="/services-administratifs">Services administratifs</a></li>
        </ul>
      </li>

      <li class="nav-item" [ngClass]="currentPage === '/evenements'? 'active' : '' " >
        <a routerLink="/evenements" class="nav-link">Evènements</a>
      </li>

      <li class="nav-item dropdown" [ngClass]="currentPage === '/services'? 'active' : '' " >
        <a routerLink="/services" class="nav-link" id="navbarDarkDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">Nos services</a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink2">
          <li><a class="dropdown-item" routerLink="/education-specifique">Éducation spécifique</a></li>
          <li><a class="dropdown-item" routerLink="/suivi-paramedical">Suivi paramédical</a></li>
          <li><a class="dropdown-item" routerLink="/soutient-accompagnement">Soutien et accompagnement psychique</a></li>
          <li><a class="dropdown-item" routerLink="/equipe-polyvalente">Équipe polyvalente</a></li>
          <li><a class="dropdown-item" routerLink="/beneficiaires">Bénéficiaires des services</a></li>
        </ul>
      </li>

      <li class="nav-item" [ngClass]="currentPage === '/actualites'? 'active' : '' " >
        <a routerLink="/actualites" class="nav-link">Actualités</a>
      </li>

      <li class="nav-item" [ngClass]="currentPage === '/contact'? 'active' : '' " >
        <a routerLink="/contact" class="nav-link">Contact</a>
      </li>
<!--
      <li class="nav-item" [ngClass]="currentPage === '/inscription'? 'active' : '' " >
        <a routerLink="/inscription" class="nav-link">S'inscrire</a>
      </li>-->

    </ul>
    <ul *ngIf="!authService.isAuthenticated()" class="login">
      <li>
        <a class="btn nav-link" routerLink="/login" >
          <i class="fa fa-user"></i>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav" *ngIf="authService.isAuthenticated()">
      <li><a  class="btn nav-link username">{{this.authService.authenticatedUser.username}}</a></li>


      <li>
        <a class="btn nav-link" (click)="handleLogout()" >
          <i class="fa fa-arrow-circle-o-right"></i>
        </a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <button class="btn menu-right-btn border mx-3" (click)="pageDon()" >
        Faire un don
      </button>
    </form>
  </div>
</nav>
