
<div class="title-image">
  <h1 class="text-center">Nos services.</h1>
</div>

<div class="container mt-5 mb-5" style="font-family: 'Arial'">

  <div class="services-presentation col-8 offset-2 text-center">
    <h2 class="mb-4">Présentation des services
    </h2>
    <p>Le centre, dépendant de l’association Dar Al Amane, offre un ensemble de services dont, en
      premier, des services éducatifs "Éducation spécifique" à travers des projets éducatifs
      individuels et des programmes qualifiants conséquents dont le but est de participer au
      développement de la personnalité des enfants en situation de handicap ainsi qu’au respect de
      leurs vies personnelles et leurs droits basés sur les principes de citoyenneté. Les services
      offerts visent, aussi, le développement d’un certain nombre de compétences pour favoriser
      l’intégration des enfants en situation d’handicap dans la société, les aider à s’adapter aux
      conditions de la scolarisation et aussi à acquérir les comportements et les attitudes nécessaires
      à la préservation de leurs santés physique et mentale.
      En plus des services éducatifs, le centre propose aussi des services paramédicaux tels que la
      kinésithérapie, l’orthophonie, le traitement psychomoteur ainsi que la qualification psychique
      et sociale.</p>
  </div>


  <div class="services mt-3 text-center">
    <h3>Pour en savoir plus sur les principaux services offerts et leurs bénéficiaires :</h3>
    <div class="row justify-content-center text-center mx-5 mt-3">
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/education_spec.jpg" alt="Image1" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title"><a routerLink="/education-specifique">Éducation spécifique</a></h4>
            <p class="card-text">
              Elle a pour but de participer au développement de la personnalité des enfants en situation de handicap ainsi
              qu’au respect de leurs vies personnelles et leurs droits basés sur les principes de citoyenneté.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">

        <div class="card">
          <img src="assets/images/suivi-param.jpg" alt="Image2" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title"><a routerLink="/suivi-paramedical">Suivi paramédical</a></h4>
            <p class="card-text"> Il comprend des services paramédicaux tels que la kinésithérapie, l’orthophonie,
              le traitement psychomoteur ainsi que la qualification psychique et sociale.</p>
          </div>


        </div>
      </div>
      <div class="col-md-4">
        <div class="card" >
          <img src="assets/images/soutien_et_accompagnement.jpg" alt="Image3" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title"><a routerLink="/soutient-accompagnement">Soutien et accompagnement psychique </a></h4>
            <p class="card-text"> Il offre des services et des programmes de soins psychiques, prodigue des
            conseils aux familles et propose son aide dans la prise en charge de leurs enfants.</p>
          </div>
        </div>
      </div>

    </div>

    <div class="row justify-content-center text-center mx-5 mt-3">
      <div class="col-md-4">
        <div class="card">
          <img src="assets/images/equipe-poly.jpg" alt="Image1" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title"><a routerLink="/equipe-polyvalente">Équipe polyvalente</a></h4>
            <p class="card-text">Son travail consiste à assurer la coordination avec les parents des bénéficiaires, il
              assure également le diagnostic, le suivi et les soins à prodiguer à chaque enfant.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" >
          <img src="assets/images/beneficiaires.jpg" alt="Image3" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title"><a routerLink="/beneficiaires">Bénéficiaires des services</a></h4>
            <p class="card-text">Les personnes handicapées en situation de précarité inscrites dans des
              établissements spécialisées ou au sein de classes d’intégration scolaire ou  normalement
              dans des établissements de l’enseignement publique.</p>
          </div>
        </div>
      </div>

    </div>

  </div>


</div>
