
<div class="title-image">
  <h1 class="text-center">Qui sommes-nous ?</h1>
</div>

<div class="container mt-5 mb-5" style="font-family: 'Arial'">

  <div class="centre-presentation col-8 offset-2 text-center">
    <h2 class="mb-4">Présentation du centre
    </h2>
    <p class="mb-3">
      Le Centre socioéducatif pour l’éducation, l’intégration et la
      qualification des personnes aux besoins spécifiques fut créé le 1er Septembre 2017. Il dépend directement
      de l’association Dar Al Amane et offre un ensemble de services dont
      des services éducatifs et des services paramédicaux (kinésithérapie, orthophonie, traitement psychomoteur, ergothérapie,etc)
      permettant de faciliter l’intégration des enfants en situation de handicap dans la société,
      par le développement de leurs personnalités ainsi que d’un certain nombre de compétences.
      Notre capacité d'accueil s'élève à ce jour à 200 personnes. Notre équipe se compose principalement de :
      10 spécialistes, 10 éducateurs spécialisés, 3 cadres pour la formation professionnelle.
    </p>



  </div>

</div>

