<h1 class="text-center">Modifier un utilisateur</h1>

<form [formGroup]="userForm" (ngSubmit)="onUpdate()">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username" required>
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password" required>
  </div>

  <div>
    <label for="roles">Roles:</label>
    <select id="roles" formControlName="roles" multiple>
      <option value="ADMIN">ADMIN</option>
      <option value="BENEFICIAIRE">BENEFICIAIRE</option>
      <option value="SECRETAIRE">SECRETAIRE</option>
      <!-- Ajoutez d'autres options de rôle ici -->
    </select>
  </div>

  <button type="submit">Modifier</button>
</form>
