<div class="title-image">
  <h1 class="mt-5 text-center">Services administratifs du centre</h1>
</div>

<div class="container mt-5 mb-5 text-center" style="font-family: 'Arial'">
  <h2 class="mt-2 col-6 offset-3">Administration</h2>


  <div class=" adm row">
    <div class="card text-dark bg-light mb-3 col-md-4" >
    <div class="card-header">Le Directeur</div>
    <div class="card-body">
      <p class="card-text mt-4">Voici quelques unes de ses reponsabilités par rapport au centre :
        Il s'assure de la bonne marche des activités quotidiennes,
        Il supervise les projets exécutés et gérés par le centre,
        Il Supervise et participe aux activités, aux conférences et aux festivals dont le but est de montrer
        le centre ainsi que ses programmes et services proposés aux personnes en situation de handicap

        </p>
    </div>
  </div>

    <div class="card text-dark bg-light mb-3 col-md-4" >
      <div class="card-header">Le chef du service de suivi et de développement</div>
      <div class="card-body">

        <p class="card-text">Voici quelques unes de ses reponsabilités par rapport au centre : :
          — Il a la responsabilité du personnel éducatif, de la conception des programmes et de la
          scolarité.
          — Il organise des procédures d’accueil et de diagnostic des étudiants inscrits.
          — Il conçoit des programmes généraux des différents services et supervision des
          programmes relatifs aux étudiants.
          </p>
      </div>
    </div>

      <div class="card text-dark bg-light mb-3 col-md-4" >
        <div class="card-header">Le Secrétariat</div>
        <div class="card-body">

          <p class="card-text mt-4">Ses principales tâches sont sont :
            — L'exécution des tâches administratives, des procédures d’inscription, des correspondances,
            de la photocopie et de la photographie ainsi que de l’organisation et de l’archivage des
            documents.
            - Rédaction des correspondances et enregistrement des relevés selon les modèles en vigueur
            </p>
        </div>
      </div>
</div>

  <div class="organigramme">
    <h2 class="mt-2 col-6 offset-3">Organigramme du centre</h2>
    <img src="assets/images/organigramme_adm.png" alt="" height="600" class="mt-3">
  </div>



<!--
<div class="administration row">







  -->

</div>
