
h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
 background-color: aqua;
}

.container{
  font-family: Righteous;
  margin-bottom: 1%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 1% 0;
}
