<div class="title-image">
  <h1 class="text-center">Education spécifique</h1>
</div>
<div class="container mt-5 mb-5" style="font-family: 'Arial'">

  <div class="description col-8 offset-2 text-center">

  <h2 class="mt-3 mx-2">Description</h2>
    <img src="assets/images/ed-specifique-schema.png" alt="" height="400" class="mt-3">
  <p class="mt-5 mb-5">L’éducation spéciale exige une attention particulière pour les enfants par la présentation de
    valeurs humaines spéciales. L’éducateur doit faire montre d’une grande capacité d’écoute et
    de se mettre toujours à la place de l’enfant en situation d’handicap. Il se doit aussi d’adapter
    son rythme en fonction du degré du handicap auquel il serait confronté et aussi aux besoins
    des enfants. Il va sans dire qu’il doit faire preuve de dévouement en prenant plaisir à intégrer
    leur monde et en faisant preuve d’enthousiasme pour leurs créations. L’éducateur se doit aussi
    d’être actif en matière d’autoformation en faisant, par exemple, des recherches sur internet, en
    consultant des références pédagogiques dans le domaine d’intérêt, en échangeant aussi avec
    d’autres éducateurs ou enseignants des classes intégrées. L’adhésion au monde de l’éducation
    demande, en effet, une volonté sans faille pour la formation et l’apprentissage à vie.</p>

  </div>

  <div class="actions col-8 offset-2 text-center">
  <h2 class="mt-3 mx-2">Actions</h2>
  <p class="mt-5 mb-5">La mission de l’éducation spécifique est d’assurer la coordination avec les parents par le biais
    du cahier de correspondance (communication), d’organiser des réunions avec eux de concert
    avec la direction du centre et la responsable du service de suivi et de de développement.
  </p>
    <ul class="d-flex flex-column col-7 offset-2 px-4 py-4">
      <li >Préparation des activités de classe. Les activités de classe doivent être préparées avec une grande précision.</li>
      <li>Répartition annuelle des activités.</li>
      <li>Répartition mensuelle des activités.</li>
      <li>Emploi du temps.</li>
      <li>Projet éducatif individuel.</li>
      <li>Fiches d’activités.</li>
      <li>Disciplines pédagogiques.</li>
      <li>Jeux éducatifs.</li>
      <li>Fiches d’activités.</li>
      <li>Posters et stickers des activités.</li>
      <li>Posters et stickers de la classe.</li>
      <li>Cahier quotidien.</li>
      <li>Dossier d’activités de l’enfant.</li>
      <li>Évaluation du premier semestre en remplissant le document d’évaluation préparé par
        l’équipe polyvalente.</li>
      <li>Évaluation du deuxième semestre en remplissant le document d’évaluation préparé par
        l’équipe polyvalente.</li>
      <li>Rédaction du rapport final de l’équipe polyvalente</li>

    </ul>
  </div>
  </div>






