
<div class="title-image mt-3">
  <h1 class=" text-center">Soutien et accompagnement psychique</h1>
</div>

<div class="container  mt-5 mb-5" style="font-family: 'Arial'">

  <div class="objectifs-list col-8 offset-2 text-center">
    <h2 class="mb-4">Ses objectifs
    </h2>
  <ul class="d-flex flex-column col-7 offset-2 px-4 py-4">
    <li >Offrir des services et des programmes de soins psychiques à tous les enfants en situation
      d’handicap et souffrant de difficultés d’apprentissage ainsi qu’aux enfants souffrant de
      troubles émotionnels et comportementaux suivis dans les autres programmes de conseil
      psychique, selon le besoin.</li>
    <li>Evaluation des progrès pouvant être accomplis par l’enfant suivi dans le cadre d’une
      thérapie ou programme d’intervention déterminé et ce dans le but de tirer profit de ses autres
      potentialités.</li>
    <li>Développement des ressources de résistance contre le stress psychique et participation à la
      préparation des programmes pédagogiques individuels au sein de l’équipe d’éducation
      spécifique.</li>
    <li>Prodiguer des conseils aux familles des enfants et leur proposer des programmes d’aide à
      la prise en charge de leurs enfants au sein du milieu familial en les sensibilisant aux besoins
      de l’enfant et aux moyens de les satisfaire.</li>

  </ul>
  </div>
</div>


